*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-width: 22rem;
}

body {
  min-width: 22rem;
  font-size: 1.4rem;
  font-family: 'Alice', serif;
}
/*------------------------------- Navbar----------------------------------------------------- */
.nav_container {
  display: flex;
  width: 100%;
  align-items: center;
  position: absolute;
  height: 7rem;
  justify-content: space-between;
}

.logo {
  margin-left: 5rem;
}

.logo h1 {
  font-family: 'Lexend Tera', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.social_media {
  width: 13%;
  display: flex;
  justify-content: space-around;
  margin-right: 5rem;
}

.social_media i {
  font-size: 2.5rem;
  color: white;
}

/*--------------------------------------------------------------- First Header Part ----------------------*/
.first_header {
  width: 100%;
  height: 68rem;
  display: flex;
}

.left_header {
  height: 100%;
  width: 60%;
  background-color: #85c7d3;
  display: flex;
  align-items: center;
}

.logo_reference {
  position: absolute;
  left: 48%;
  top: 20%;
  width: 24%;
}

.left_text-container {
  margin: 0 0 25rem 15rem;
  width: 30rem;
  text-align: justify;
}

.left_text-container h2 {
  font-size: 3.5rem;
  font-family: 'Lexend Tera', sans-serif;
  text-transform: uppercase;
}

.left_text-container p a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.left_text-container p a:hover {
  text-decoration: #0f4c81;
  color: #0f4c81;
}

.right_header {
  height: 100%;
  width: 40%;
  background-color: #B6CADA;
  display: flex;
  align-items: center;
}

.right_text-transform {
  color: #B6CADA;
  text-shadow: -8px -8px 12px rgba(255,255,255,0.4),
  8px 8px 12px rgba(0,0,0,0.08);
  outline: none;
  caret-color: #262626;
  font-size: 11rem;
  font-weight: bold;
  transform: rotate(90deg);
  position: absolute;
  right: -17.5rem;
  top: 27rem;
  text-transform: uppercase;
}

/*--------------------------------------------------------- Media queries ------------------------------*/
@media only screen and (max-width: 1020px) {
  .left_text-container {
    margin: 0 0 25rem 10rem;
    width: 30rem;
    text-align: justify;
  }

  .left_text-container h2 {
    font-size: 3rem;
  }



}