*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-width: 22rem;
}

body {
  min-width: 22rem;
  font-size: 1.4rem;
  font-family: 'Alice', serif;
}

/*------------------------------ GENERAL SETTINGS -----------------------------------------------*/
.hover_red {
  transition: 0.5s ease-in;
}

.hover_red:hover {
  color: red;
  text-decoration: none;
}

.anchor_white {
  text-decoration: none;
  color: white;
}

.title_font {
  font-family: 'Lexend Tera', sans-serif;
}

.red_span {
  color: red;
  font-size: inherit;
}

/*------------------------------- Navbar----------------------------------------------------- */
.nav_container {
  display: flex;
  width: 100%;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 7rem;
  justify-content: space-between;
}

.logo {
  margin-left: 5rem;
}

.logo h1 {
  /* font-family: 'Lexend Tera', sans-serif; */
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.social_media {
  width: 13%;
  display: flex;
  justify-content: space-around;
  margin-right: 5rem;
}

.social_media i {
  font-size: 2.5rem;
  color: white;
}

/*--------------------------------------------------------------- First Header Part ----------------------*/
.first_header {
  width: 100%;
  height: 68rem;
  display: flex;
}

.left_header {
  height: 100%;
  width: 60%;
  background-color: #85c7d3;
  display: flex;
  align-items: center;
}

.logo_reference {
  position: absolute;
  left: 48%;
  top: 20%;
  width: 24%;
}

.left_text-container {
  margin: 0 0 25rem 15rem;
  width: 30rem;
  text-align: justify;
}

.left_text-container h2 {
  font-size: 3.5rem;
  font-family: 'Lexend Tera', sans-serif;
  text-transform: uppercase;
}

.left_text-container p a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.left_text-container h3 {
  text-decoration-color: black;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.left_text-container h3 span {
  font-family: 'Lexend Tera', sans-serif;
  font-weight: bold;
}

.left_text-container p a:hover {
  text-decoration: #0f4c81;
  color: #0f4c81;
}

.right_header {
  height: 100%;
  width: 40%;
  background-color: #B6CADA;
  display: flex;
  align-items: center;
}

.right_text-transform {
  color: #B6CADA;
  text-shadow: -8px -8px 12px rgba(255,255,255,0.4),
  8px 8px 12px rgba(0,0,0,0.08);
  outline: none;
  caret-color: #262626;
  font-size: 11rem;
  font-weight: bold;
  transform: rotate(90deg);
  position: absolute;
  right: -17.5rem;
  top: 27rem;
  text-transform: uppercase;
}

.social_media_second {
  display: none;
  z-index: 1;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: #85c7d3;
}

.burger_menu-cont {
  display: none;
  -webkit-text-fill-color: #0f4c81;
}

/*--------------------------------------------------------- Media queries ------------------------------*/
@media only screen and (max-width: 600px) {
  .left_header {
    flex-direction: column;
  }
  
  .left_text-container {
    margin: 35rem auto 2rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: justify;
  }

  .social_media_second {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    position: fixed;
    bottom: 0rem;
    left: 0;
  }
  
  .social_media_second i {
    margin: 1.5rem 0;
    font-size: 3rem;
    color: white;
  }

  .left_text-container h2 {
    font-size: 2rem;
    text-align: center;
  }

  .left_text-container p a {
    font-size: 1.3rem;
  }

  .logo_reference {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 40%;
  }

  .social_media {
    display: none;
  }
  
  .nav_container {
    justify-content: space-between;
    height: 5rem;
    position: fixed;
    z-index: 1;
  }

  .logo {
    margin-right: 1.5rem;
  }

  .logo h1 {
    color: red;
  }

  .burger_menu-cont {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }

  .burger_menu-cont i {
    font-size: 3rem;
    color: #0f4c81;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .social_media_second {
    display: none;
  }

  .social_media {
    width: 20%;
    display: flex;
    justify-content: space-around;
    margin-right: 5rem;
  }

  .burger_menu-cont {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }

  .burger_menu-cont i {
    font-size: 2.5rem;
    color: white;
  }
  
  .nav_container {
    position: fixed;
    z-index: 1;
  }

  .left_text-container {
    margin: 35rem auto 2rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: justify;
  }

  .logo_reference {
    width: 30%;
    left: 40%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1040px) {
  .burger_menu-cont {
    display: none;
  }
  .social_media_second {
    display: none;
  }

  .left_text-container {
    margin: 35rem auto 2rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: justify;
  }

  .nav_container {
    position: fixed;
    z-index: 1;
  }
}

/*------------------------------------------------------ First grid with Images -------------------------------*/
.first_grid-container {
  padding: 1rem;
}

.first_grid-img {
  width: 100%;
  margin: 0 auto;
  height: 30rem;
  background-position: center;
  background-size: cover;
  filter: brightness(0.4);
}

.first_image-cont {
  margin-top: 1rem;
}

.first_grid-img:hover {
  cursor: pointer;
}

.image_one {
  background-image: url(img/feature_img/img_one.jpg);
}

.image_two {
  background-image: url(img/feature_img/image_two.jpg);
}

.image_three {
  background-image: url(img/feature_img/image_three.jpg);
}

.image_four {
  background-image: url(img/feature_img/image_four.jpg);
}

.grid_img-text {
  position: absolute;
  left: 23%;
  top: 40%;
  font-family: 'Exo', sans-serif;
  font-weight: 800;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

/*------------------------------------------- Curves ------------------------------------------------*/


/*------------------------------------------- Who we are? --------------------------------------------*/
.who_general-cont {
  margin-top: 13rem;
  margin-bottom: 18rem;
}

.who_image {
  background-image: url(vec/who_we_are.png);
  width: 100%;
  height: 40rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.who_container-one {
  margin-top: 5rem;
}

.who_text {
  position: absolute;
  top: 50%;
  left: 45%;
}

.who_text h2 {
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  font-family: 'Lexend Tera', sans-serif;
}

.who_para-cont {
  width: 70%;
  border-bottom: 2px solid #F26B5B;
  margin: 0 auto;
}

.who_text-general {
  display: flex;
  align-items: center;
  margin-top: 6rem;
}

.who_para-cont p {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .who_text {
    left: 33%;
  }
  
  .grid_img-text {
    left: 17%;
  }

}

/*--------------------------------------------------------- Teamwork section -------------------------------*/
.meet_general-cont {
  display: flex;
  width: 100%;
  align-items: center;
}

.meet_image-cont {
  position: relative;
  width: 30%;
}

.teamwork_text-cont {
  position: absolute;
  left: 23%;
  top: 10%;
}

.teamwork_text {
  font-size: 3rem;
  color: red;
  font-family: 'Exo', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.meet_introduce-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.meet_introduce-title {
  display: flex;
  align-items: center;
  padding-bottom: 3rem;
}

.meet_introduce-title span {
  font-size: 3rem;
  font-family: 'Exo', sans-serif;
}

.team_list {
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100%;
}

.team_list ul {
  display: flex;
  list-style: none;
  width: 100%;
}

.team_list ul li {
  margin: 0 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Lexend Tera', sans-serif;
}

.team_aim {
  width: 70%;
  text-align: center;
}

.team_aim-para {
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .meet_general-cont {
    flex-direction: column;
  }
  
  .meet_image-cont {
    width: 100%;
  }

  .meet_image-cont img {
    width: 100%;
  }

  .team_list ul li {
    margin: 0 1rem;
  }
}


/* ------------------------------------------------------------- Services Section ----------------------------*/
.text_services-container h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #F26B5B;
}

.service_row-one {
  margin-top: 3rem;
}

.service_row-two {
  margin-top: 3rem;
}

.service_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.service_icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service_icon-container img {
  width: 30%;
}

/*--------------------------------------------- Service General Cont -----------------------------------*/
.general_service-cont {
  margin: 3rem auto;
}

.cover_right {
  display: flex;
  align-items: center;
}

.cover {
  position: relative;
  display: flex;
  margin: 0 auto;
  height: 50rem;
  background: #eee;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.16), 0 15px 12px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}

@media (max-width:770px) {

  .message_text_one {
    margin: 13rem auto 7rem auto;
    text-align: center;
    width: 50%;
  }

  
}

@media (max-width:900px) {
  .cover{
    height: 64vh;
  }
}
#box1,
#box2,
#box3 {
  flex: 1;
  height: 100%;
}

.cover {
  height: 40rem;
}

#box1 {
  background: #431A63;
}

#box2 {
  background: #903DFF;
}

#box3 {
  background: #00CBCB;
}

.service_h2 {
  font-size: 1.7vw;
  text-align: left;
  font-weight: thin;
  margin-top: 10%;
  margin-bottom: 20%;
  line-height: 2vw;
}

.service_p {
  letter-spacing: 0.8px;
  font-size: 0.85vw;
  font-weight: thin;
  margin: 12%;
  line-height: 1.2vw;
}

#icon {
  width: 50%;
  border-radius: 50%;
  margin: 20%;
  overflow: hidden;
  text-align: center;
}

#box1 #icon {
  background: #7100DB;
}

#box2 #icon {
  background: #6700FF;
}

#box3 #icon {
  background: #FF5A6D;
}

.service_img {
  position: relative;
  width: 80%;
  margin-top: 10%;
}

#box2 img {
  transform: translateY(3px);
}

/*------------------------------------------------ Send Message----------------------------------- */
.send_message-general {
  margin: 15rem 0 8rem 0;
}

.send_message-left {
  display: flex;
  align-items: center;
  height: 68rem;
}

.message_text {
  margin: 0 auto;
  width: 54%;
}

.send_message-right {
  background-color: #85c7d3;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

form {
  padding: 30px;
  margin: 50px 0;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: white;
  border: none;
  border-radius: 1rem;
	color: black;
  font-size: 1.000em;
  font-family: 'Lexend Tera', sans-serif;
  font-weight: 400;
	margin: 0em 0 1.875em 0;
	padding: 1rem 1rem;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 1rem 1rem;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #dedede;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: 'Lexend Tera', sans-serif;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    width: 75%;
  }

  .send_message-general {
    margin: 5rem 0 8rem 0;
  }

  .send_message-left  {
    height: auto;
    width: 100%;
  }

  .message_text {
    margin-bottom: 16rem;
  }
}

@media screen and (max-width: 620px) {
 .message_text {
   text-align: center;
 } 
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}

/*------------------------------------------------- Arrow Up Section ----------------------------------*/
.arrow_up-general {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.arrow_up-cont {
  margin: 0 auto;
}

.arrow_up-cont a {
  margin: 0 auto;
}

.arrow_up-cont a i {
  font-size: 5rem;
}

/*----------------------------------------- Big Service Container -------------------------------------*/
.bigservice_general-cont {
  width: 100%;
  background-color: #85c7d3;
  display: flex;
  align-items: center;
  /* clip-path: circle(150% at 50% 260%); */
  clip-path: ellipse(90% 70% at 50% 73%);
}

.bigservice_container {
  display: flex;
  flex-direction: column;
  margin: 7rem auto 4rem;
  align-items: center;
}

.bigservice_logoref {
  width: 35rem;
  text-align: center;
}

.bigservice_logoref h1 {
  font-size: 5rem;
  color: red;
}

.company_about {
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.company_about ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  justify-content: space-around;
  font-family: 'Lexend Tera', sans-serif;
}

.down_arrow-cont i {
  color: white;
  font-size: 2rem;
}

.services_list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: relative;
  right: 3rem;
}

.list_margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.first {
  list-style: none;
  margin: 0 2rem;
  text-align: right;
}

.second {
  text-align: center;
  margin: 0 2rem;
  list-style: none;
}

.third {
  text-align: left;
  margin: 0 2rem;
  list-style: none;
}

@media only screen and (max-width: 600px) {
  .services_list {
    flex-direction: column;
    right: 0;
  }

  .first {
    text-align: center;
  }

  .third {
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .bigservice_general-cont {
    clip-path: ellipse(170% 70% at 50% 73%);
  }
}


/*------------------------------------------------------------------- Footer ---------------------------------*/
.footer_container {
  display: flex;
  flex-direction: column;
  background-color: #0f4c81;
  height: 14rem;
  padding-top: 2rem;
  justify-content: space-between;
}

.footer_contact-cont {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
}

.contact {
  display: flex;
}

.contact i {
  font-size: 3rem;
  -webkit-text-stroke: 1px red;
  -webkit-text-fill-color: #0f4c81;
  margin-right: 1.3rem;
}

.contact a {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 400;
  transition: 0.5s ease-in;
}

.contact a:hover {
  color: red;
}

.contact span {
  color: white;
  font-size: 1.6rem;
}

.amaziting_title-cont {
  display: flex;
  align-items: center;
}

.amaziting_title {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.amaziting_title h4 {
  color: white;
  font-size: 1.5rem;
}


@media only screen and (max-width: 770px) {
  .footer_container {
    height: 22rem
  }
  
  
  .footer_contact-cont {
    flex-direction: column;
  }

  .contact {
    margin: 0 auto 1.2rem;
  }

  .contact a {
    font-size: 1.4rem;
  }

  .contact span {
    font-size: 1.4rem;
  }
}
/*---------------------------------------------*/