*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-width: 22rem;
}

body {
  min-width: 22rem;
  font-size: 1.4rem;
  font-family: 'Alice', serif;
  background-color: #e0e5eb;
  overflow-x: hidden;
}

/*------------------------------ GENERAL SETTINGS -----------------------------------------------*/
.hover_red {
  transition: 0.5s ease-in;
}

.hover_red:hover {
  color: red;
  text-decoration: none;
}

.anchor_white_a {
  text-decoration: none;
  color: black;
}

.anchor_white {
  text-decoration: none;
  color: white;
}

.title_font {
  font-family: 'Lexend Tera', sans-serif;
}

.red_span {
  color: red;
  font-size: inherit;
}

.width_100 {
  width: 100%;
}

.align_center {
  align-items: center;
}

.width_auto {
  width: auto;
}

.title_bond {
  font-weight: 700;
}

.title_menu {
  font-family: 'Roboto Condensed', sans-serif;
}

.service_container_padding_left {
  padding-left: 0 !important;
}

.service_container_padding_right {
  padding-right: 0 !important;
}

/*------------------------------- Navbar----------------------------------------------------- */
.nav_container {
  display: flex;
  width: 100%;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 7rem;
  justify-content: space-between;
}

.logo {
  margin-left: 5rem;
}

.logo h1 {
  font-family: 'Lexend Tera', sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2.3rem;
  text-transform: uppercase;
  color: red;
  font-weight: 800;
}

.social_media {
  width: 13%;
  display: flex;
  justify-content: space-around;
  margin-right: 5rem;
}

.social_media_one {
  width: 13%;
  display: flex;
  justify-content: space-around;
  margin-right: 5rem;
}

.social_media i {
  font-size: 2.5rem;
  color: red;
}

/*------------------------------------------------ Paquilaca ----------------------------------------------*/
.menumobile {
  background-color:  rgba(254, 206, 233, 0.4);
  position: fixed;
}

.menumobile h3 {
  font-size: 1.9em;
  text-transform: uppercase;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #6fa0d8;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.menumobile a {
  display: block;
  background-color: transparent;
  font-size: 1.4em;
  letter-spacing: 0.2rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.menumobile a:hover {
  background: white;
}

.menumobile {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.menumobile a {
  text-decoration:none;
  padding: 1em;
}

.menumobile {
  left: 0px;
}

.menumobile,.menuoff,.buttonmove,.menutoggle  {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menuoff{
  margin-left:-240px;
}

.menutoggle {
  left:1em;
  top: 1em;
  position: absolute;
  cursor: pointer;
}

.menutoggle:before {
  content: "";
  position: absolute;
  left: 1.5rem;
  top: 1rem;
  width: 3.5rem;
  height: 2.7rem;
  border-top: 1.6rem double white;
  border-bottom: 0.5rem solid white;
}
.buttonmove{
  position:absolute;
  margin-left:160px;
  z-index:99999999999;
}

/*---------------------------------------- Navigation Bar Second --------------------------------- */

.navbar_general-container {
  height: 10rem;
  display: flex;
  top: 0;
  position: fixed;
  width: 100%;
  align-items: center;
  background-color: transparent;
  z-index: 1;
}

.navbar_general-cont {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.navbar_menu-containergen {
  display: flex;
  align-items: center;
  width: 60%;
}

.logo_cont {
  width: 40%;
  display: flex;
  align-items: center;
}

.logo_text-cont {
  margin-left: 1rem;
}

.logo_text-cont h1 {
  font-family: 'Lexend Tera', serif;
  font-size: 2.5rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.logo_img-cont {
  display: flex;
  align-items: center;
}

.logo_img-cont img {
  width: 5rem;
}

@media only screen and (max-width: 730px) {
  .logo_cont {
    width: 60%;
  }

  .menumobile {
    width: 17rem;
  }

  .logo_cont {
    position: relative;
    top: -1rem;
  }
  
}

@media only screen and (min-width: 900px) {
  .logo_cont {
    justify-content: center;
  }
}

@media only screen and (max-width: 550px) {
  .menumobile {
    width: 13rem;
  }

  .menutoggle {
    left: 0;
  }

  .menutoggle:before {
    top: 0.3rem;
  }

  .menumobile h3 {
    font-size: 1.7rem;
    padding-right: 0;
    padding-left: 0.7rem;
  }

  .logo_text-cont h1 {
    font-size: 1.8rem;
  }

  .menuoff{
    margin-left: -14rem;
  }

  .buttonmove {
    margin-left: 7rem;
  }

  .logo_cont {
    position: relative;
    top: -1.5rem;
  }

  .logo_img-cont img {
    width: 4rem;
  }

  .menumobile a {
    font-size: 1.2rem;
  }
}

/*----------------------------------------------------------- New First Header ----------------------------*/
.header_point-container {
  background-color: #f3f3f3;
  box-shadow: 0px -26px 56px 14px rgba(0,0,0,0.75);
  width: 100%;
  height: 70rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header_point_text-container {
  display: flex;
  flex-direction: column;
  width: 30rem;
  position: relative;
  margin: 0 0 30rem 10rem;
  text-align: center;
}

.header_point_text-container h2 {
  font-size: 3.5rem;
}

.header_point_text-container h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.animate_circle_header img {
  width: 28rem;
  margin: 0 auto;
  /* animation: color-change 2s .5s infinite cubic-bezier(1,.015,.295,1.225) alternate */
}

@media only screen and (max-width: 842px) {
  .header_point-container {
    flex-direction: column;
    justify-content: space-evenly;
    height: 55rem;
  }

  .header_point-image img {
    width: 25rem;
  }

  .header_point_text-container {
    margin: 7rem 30% 0 0;
  }
}

@media only screen and (max-width: 500px) {
  .header_point_text-container {
    margin: 7rem auto 0;
  }
}
/*----------------------------------------- Animate Circle Second Part of the Header ---------------------------*/
.who_text {
  width: 100%;
  text-align: center;
}

.who_text h2 {
  text-transform: uppercase;
  color: #E6EFF6;
  font-size: 2rem;
  font-family: 'Lexend Tera', sans-serif;
}

.animate_circle_header {
  display: flex;
  align-items: center;
  margin: 15rem 5rem 6rem 0;
  width: 34rem;
  height: 34rem;
  background-color: #f3f3f3;
  /* animation: square-to-circle 2s .5s infinite cubic-bezier(1,.015,.295,1.225) alternate; */
/*   box-shadow: 0 19px 38px rgba(0, 0, 0, 0.16), 0 15px 12px rgba(0, 0, 0, 0.23); */
}

@keyframes color-change {
  0% {
    color: white;
    transform:rotate(0deg)
  }

  25% {
    color: white;
    transform:rotate(45deg);
  }

  50% {
    color: white;
    transform:rotate(90deg);
  }

  75% {
    color: white;
    transform:rotate(135deg);
  }

  100% {
    color: white;
    transform:rotate(180deg);
  }
}


@keyframes square-to-circle {
  0%  {
    border-radius:0 0 0 0;
    background: #fecee9;
    transform:rotate(0deg);
  }

  25%  {
    border-radius:50% 0 0 0;
    background: #Ffb4a2;
    transform:rotate(-45deg);
  }
  
  50%  {
    border-radius:50% 50% 0 0;
    background: #bdbdff;
    transform:rotate(-90deg);
  }

  75%  {
    border-radius:50% 50% 50% 0;
    background: #87D8C3;
    transform:rotate(-135deg);
  }

  100% {
    border-radius:50%;
    background:#6fa0d8;
    transform:rotate(-180deg);
  }
}

@media only screen and (max-width: 1050px) {
  .animate_circle_header {
    width: 30rem;
    height: 30rem;
    margin: 0;
    position: relative;
    right: 7rem;
  }
}

@media only screen and (max-width: 768px) {
  .animate_general-container {
    flex-direction: column;
    align-items: center;
  }

  .animate_circle_header {
    width: 19rem;
    height: 19rem;
    right: 0;
  }

  .header_point-image img {
    width: 15rem;
  }
}



/*--------------------------------------------------------------- First Header Part ----------------------*/

.logo h1 {
  margin-right: 4rem;
}

.logo_reference {
  position: absolute;
  left: 48%;
  top: 20%;
  width: 24%;
}

.left_text-container {
  margin: 0 0 25rem 15rem;
  width: 30rem;
  text-align: justify;
}

.left_text-container h2 {
  font-size: 3.5rem;
  font-family: 'Lexend Tera', sans-serif;
  text-transform: uppercase;
}

.left_text-container h3 {
  color: white;
  text-transform: uppercase;
}

.left_text-container h3 span {
  font-family: 'Lexend Tera', sans-serif;
  font-weight: bold;
}

.left_text-container p a:hover {
  text-decoration: #0f4c81;
  color: #0f4c81;
}

.right_text-transform {
  color: #e0e5eb;
  text-shadow: -3px -3px 7px #ffffffa6, 3px 3px 5px rgba(94, 104, 121, 0.712);
  font-size: 11rem;
  font-weight: bold;
  transform: rotate(90deg);
  position: absolute;
  right: -16rem;
  top: 29rem;
  text-transform: uppercase;
}

.social_media_second {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  position: fixed;
  bottom: 3rem;
  right: 0;
  z-index: 1;
}

.social_media_second i {
  margin: 1.5rem 0;
  font-size: 3rem;
}

/* .burger_menu-cont {
  display: none;
  -webkit-text-fill-color: #0f4c81;
}
 */
/*--------------------------------------------------------- Media queries ------------------------------*/
@media only screen and (max-width: 600px) {
  .left_text-container {
    margin: 40rem auto 2rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: justify;
  }

  .social_media_second {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 3rem;
    align-items: center;
  }
  
  .social_media_second i {
    margin: 1.5rem 0;
    font-size: 3rem;
    color: white;
  }

  .left_text-container h2 {
    font-size: 2rem;
    text-align: center;
  }

  .logo_reference {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 40%;
  }

  .right_text-transform {
    right: -17.5rem;
    top: 24rem;
  }
  
  .nav_container {
    justify-content: space-between;
    height: 5rem;
    position: fixed;
    z-index: 1;
  }

  .logo {
    margin-right: 1.5rem;
  }

  .logo h1 {
    color: red;
  }

  .burger_menu-cont {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }

  .burger_menu-cont i {
    font-size: 3rem;
    color: #0f4c81;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {

  .burger_menu-cont {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }

  .burger_menu-cont i {
    font-size: 2.5rem;
    color: white;
  }
  
  .nav_container {
    position: fixed;
    z-index: 1;
  }

  .left_text-container {
    margin: 35rem auto 2rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: justify;
  }

  .logo_reference {
    width: 30%;
    left: 40%;
  }

  .social_media_second {
    align-items: center;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1040px) {
  .burger_menu-cont {
    display: none;
  }

  .left_text-container {
    margin: 35rem auto 2rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: justify;
  }

  .nav_container {
    position: fixed;
    z-index: 1;
  }
}

@media only screen and (min-width: 800px) {
  .social_media_second {
    align-items: center;
  }
}

/*-------------------------------------------- Curves ------------------------------------------------*/
.animate_general-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.who_text {
  width: 100%;
  text-align: center;
}

.who_text h2 {
  text-transform: uppercase;
  color: #E6EFF6;
  font-size: 2rem;
  font-family: 'Lexend Tera', sans-serif;
}

.animate_circle {
  display: flex;
  align-items: center;
  position: relative;
  width: 30rem;
  height: 30rem;
  background-color: #E6EFF6;
  animation: square-to-circle 2s .5s infinite cubic-bezier(1,.015,.295,1.225) alternate;
}

.who_text-general {
  width: 50%;
  display: flex;
  align-items: center;
  margin-top: 6rem;
  justify-content: center;
  text-align: center;
}

.who_text-general p {
  margin: 0 auto;
}

.animate_circle-text {
  animation: color-change 2s .5s infinite cubic-bezier(1,.015,.295,1.225) alternate;
}

.who_para-cont {
  width: 40%;
  border-bottom: 2px solid #F26B5B;
  margin: 0 auto;
}

@keyframes color-change {
  0% {
    color: white;
    transform:rotate(0deg)
  }

  25% {
    color: white;
    transform:rotate(45deg);
  }

  50% {
    color: white;
    transform:rotate(90deg);
  }

  75% {
    color: white;
    transform:rotate(135deg);
  }

  100% {
    color: white;
    transform:rotate(180deg);
  }
}


@keyframes square-to-circle {
  0%  {
    border-radius:0 0 0 0;
    background: #fecee9;
    transform:rotate(0deg);
  }

  25%  {
    border-radius:50% 0 0 0;
    background: #Ffb4a2;
    transform:rotate(-45deg);
  }
  
  50%  {
    border-radius:50% 50% 0 0;
    background: #bdbdff;
    transform:rotate(-90deg);
  }

  75%  {
    border-radius:50% 50% 50% 0;
    background: #87D8C3;
    transform:rotate(-135deg);
  }

  100% {
    border-radius:50%;
    background:#6fa0d8;
    transform:rotate(-180deg);
  }
}

@media only screen and (max-width: 768px) {
  .animate_general-container {
    flex-direction: column;
  }

  .animate_circle {
    width: 20rem;
    height: 20rem;
  }

  .who_text-general {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 6rem;
  }

  .who_para-cont {
    margin: 0 auto;
  }
}

/*------------------------------------------- Who we are? --------------------------------------------*/
.who_general-cont {
  /* background-image: url(vec/Landingpagevector/trial_three.png); */
  padding-top: 13rem;
  padding-bottom: 18rem;
}

.who_image {
  background-image: url(vec/who_we_are.png);
  width: 100%;
  height: 40rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.who_container-one {
  margin-top: 5rem;
}

.who_para-cont p {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .who_general-cont {
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 600px) {
  .who_text {
    left: 33%;
  }
  
  .grid_img-text {
    left: 17%;
  }

}

/*---------------------------------------------- Carousel section ---------------------------------------*/
.carousel_general-title {
  background-color: #e0e5eb;
}

.carousel_general-titlcont {
  background-color: #e0e5eb;
}

.carousel_general-titlcont h1 {
  padding: 5rem 0 2rem 0;
/*   font-size: 3rem; */
}

.carousel_row {
  background-color: #6fa0d8;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.16), 0 15px 12px rgba(0, 0, 0, 0.23);
}

.carousel_text-title {
  text-align: center;
}

.carousel_text-title h2 {
  font-size: 3rem;
}

.carousel_image-one {
  padding: 8rem 0 8rem 13rem;
}

.carousel_image-one img {
  border-radius: 2rem;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.16), 0 15px 12px rgba(0, 0, 0, 0.23);
}

.carousel_text-main {
  width: 70%;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 992px) {
  .carousel_image-one {
    padding: 5% 12%;
  }

  .text {
    padding-bottom: 4%;
  }
}

@media screen and (max-width: 600px) {
  /* .carousel_general-titlcont h1 {
    font-size: 2.5rem;
  } */
}
/*----------------------------------------- What we do --------------------------------------------*/
.what_text-container {
  margin-top: 0.7rem;
  background-color: #cfe1ed;
}

.what_general-container {
  margin-top: 7rem;
}

.what_text-cont {
  background-color: #bdbdff;
  display: flex;
  padding: 4rem 5rem;
  flex-direction: column;
  align-items: center;
}

.what_text-cont h2 {
  padding-bottom: 1rem;
}

.what_text-cont h2 {
  padding-bottom: 1rem;
}

/*----------------------------------------------- web what we do images -------------------------------*/
.what_images-container {
  padding: 2rem 4rem 4rem 4rem;
  background-color: #e0e5eb;
}

.container {
  display: flex;
  height: 40rem;
  border-radius: 2rem;
}

.section {
  padding: 2rem;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.16), 0 15px 12px rgba(0, 0, 0, 0.23);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: #fff;
  transition: flex .4s ease;
  position: relative;
}

.section .overlay {
  /* background-color: rgba(0, 0, 0, 0.7); */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  transition: background-color .8s ease;
}

.section .content {
  z-index: 2;
}

.section:hover {
  flex: 2;
}

.section:hover .overlay{
  background-color: #e0e5eb;
}

#marketing {
  border-radius: 2rem 0 0 2rem;
  background-image: url(https://images.unsplash.com/photo-1505156868547-9b49f4df4e04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1559&q=80);
}

#technology {
  background-image: url(https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
}

#advertising {
  border-radius: 0 2rem 2rem 0;
  background-image: url(https://images.unsplash.com/photo-1511268559489-34b624fbfcf5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 70rem;
  }

  #marketing {
    border-radius: 2rem 2rem 0 0;
  }

  #advertising {
    border-radius: 0 0 2rem 2rem;
  }
}
/*--------------------------------------------- Service General Cont -----------------------------------*/
.general_service-cont {
  margin: 6rem 0 2rem 0;
}

.box_general-container {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.16), 0 15px 12px rgba(0, 0, 0, 0.23);
}

.box_container-one {
  background-color: #Ffb4a2;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 6rem 4rem;
}

.box_title {
  margin: 6rem 0;
}

.box_para {
  margin: 4rem 0;
}

.box_icon {
  margin: 4rem 0;
}

.box_button {
  margin: 3rem auto 0;
  border-radius: 3rem;
  width: 50%;
}

.box_button a {
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
}

.box_container-two {
  background-color: #bdbdff;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 6rem 4rem;
  height: 70rem;
}

.box_container-three {
  background-color: #B6CADA;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 4rem 2rem;
  height: 70rem;
}

.message_text_one {
  margin-top: 18rem;
  margin-bottom: 8rem;
  text-align: center;
}

/*------------------------------------------------ Send Message----------------------------------- */
.send_message-general {
  margin: 15rem 0 8rem 0;
}

.send_message-left {
  display: flex;
  align-items: center;
  height: 68rem;
}

.message_text {
  margin: 0 auto;
  width: 54%;
}

.send_message-right {
  background-color: #87D8C3;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

form {
  padding: 30px;
  margin: 50px 0;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: white;
  border: none;
  border-radius: 1rem;
	color: black;
  font-size: 1.000em;
  font-family: 'Lexend Tera', sans-serif;
  font-weight: 400;
	margin: 0em 0 1.875em 0;
	padding: 1rem 1rem;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 1rem 1rem;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #dedede;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: 'Lexend Tera', sans-serif;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    width: 75%;
  }

  .send_message-general {
    margin: 5rem 0 8rem 0;
  }

  .send_message-left  {
    height: auto;
    width: 100%;
  }

  .message_text {
    margin-bottom: 16rem;
  }
}

@media screen and (max-width: 620px) {
 .message_text {
   text-align: center;
 } 
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}

/*------------------------------------------------- Arrow Up Section ----------------------------------*/
.arrow_up-general {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.arrow_up-cont {
  margin: 0 auto;
}

.arrow_up-cont a {
  margin: 0 auto;
}

.arrow_up-cont a i {
  font-size: 5rem;
}

/*----------------------------------------- Big Service Container -------------------------------------*/
.bigservice_general-cont {
  width: 100%;
  background-color: #87D8C3;
  display: flex;
  margin: 0rem auto 15rem auto;
  align-items: center;
}

.bigservice_container {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  margin: 3rem auto 3rem;
  align-items: center;
}

.bigservice_logoref {
  width: 35rem;
  text-align: center;
}

.bigservice_logoref h1 {
  font-size: 5rem;
  color: red;
}

.company_about {
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.company_about ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  justify-content: space-around;
  font-family: 'Lexend Tera', sans-serif;
}

.down_arrow-cont i {
  color: white;
  font-size: 2rem;
}

.services_list {
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}

.list_margin {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
}

.first {
  list-style: none;
  margin: 0 2rem;
  text-align: center;
}

.second {
  text-align: center;
  margin: 0 2rem;
  list-style: none;
}

.third {
  text-align: center;
  margin: 0 2rem;
  list-style: none;
}

@media only screen and (max-width: 600px) {
  .services_list {
    flex-direction: column;
    right: 0;
  }

  .first {
    text-align: center;
  }

  .third {
    text-align: center;
  }
}

@media only screen and (max-width: 950px) {
  .bigservice_general-cont {
    /* clip-path: ellipse(170% 70% at 50% 73%); */
    width: 100%;
  }
}


/*------------------------------------------------------------------- Footer ---------------------------------*/
.footer_general-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  background-color: #f3f3f3;
  margin-top: 10rem;
  box-shadow: 0px 24px 56px 14px rgba(0,0,0,0.75);
}

.footer_first-division {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 2.5rem;
}

.footer_amaziting_title-cont {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer_amaziting-title h2 {
  font-size: 2rem;
  color: #5e2ced;
  text-transform: uppercase;
  font-family: "Lexend Tera";
}

.footer_amaziting-title p {
  font-size: 1.5rem;
  color: #858da8;
}

.footer_amaziting-title ul {
  list-style: none;
  font-size: 1.5rem;
  color: #858da8;
}

.footer_amaziting-title ul li a {
  color: #858da8;
}

.footer_what-container {
  flex: 1;
}

.f_social_icon {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  border: 1px solid #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.f_social_icon a:hover {
  background: #5e2ced;
  border-color: #5e2ced;
  color:white;
}

.footer_bottom {
  width: 100%;
  display: flex;
  margin-bottom: 3rem;
}

.footer_bottom-cont {
  width: 90%;
  display: flex;
  margin: 0 auto;
  align-items: flex-end;
}

.footer_bottom-titlecont {
  flex: 1;
}

.footer_bottom-titlecont p {
  color: #858da8;
  font-size: 1.5rem;
  font-family: "Lexend Tera";
}

@media only screen and (max-width: 700px) {
  .footer_first-division {
    flex-direction: column;
    text-align: center;
  }

  .footer_what-container {
    margin: 1rem 0;
  }

  .footer_bottom {
    margin-top: 2rem;
  }
}

/*---------------------------------------------*/
.spinner{
  width: 80px;
  height: 80px;
  border: 4px solid #f3f3f3;
  border-top:6px solid #Ffb4a2;
  border-radius: 100%;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from{
      transform: rotate(0deg);
  }to{
      transform: rotate(360deg);
  }
}

#overlay{
height:100%;
width:100%;
background:#bdbdff;
position:fixed;
left:0;
top:0;
z-index: 1;
}

/*----------------------------------------- Big Service Container -------------------------------------*/